<div class="modal-body">
	<div class="modal-header">
		<h2 class="modal-header-title">
			<i class="fa fa-keyboard-o"></i>
			<span class="p-l-1">快捷键概览</span>
		</h2>

		<a class="modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>

	<div class="modal-content">
		<table class="shortcut-table">
			<tr>
				<th></th>
				<th style="text-align: left;">仪表盘快捷键</th>
			</tr>
			<tr>
				<td style="text-align: right;"><span class="label label-info">ESC</span></td>
				<td>离开全屏查看/编辑模式， 关闭搜索和任何编辑视图</td>
			</tr>
			<tr>
				<td><span class="label label-info">F</span></td>
				<td>打开仪表盘搜索 (也包含导出/播放仪表盘列表的控制)</td>
			</tr>
			<tr>
				<td><span class="label label-info">R</span></td>
				<td>Refresh (Fetches new data and rerenders panels)</td>
			</tr>
			<tr>
				<td><span class="label label-info">向←</span></td>
				<td>左移时间轴</td>
			</tr>
			<tr>
				<td><span class="label label-info">向→</span></td>
				<td>右移时间轴</td>
			</tr>
			<tr>
				<td><span class="label label-info">CTRL+S</span></td>
				<td>保存仪表盘</td>
			</tr>
			<tr>
				<td><span class="label label-info">CTRL+E</span></td>
				<td>Export dashboard</td>
			</tr>
			<tr>
				<td><span class="label label-info">CTRL+H</span></td>
				<td>隐藏行的控制器</td>
			</tr>
			<tr>
				<td><span class="label label-info">CTRL+Z</span></td>
				<td>放大</td>
			</tr>
			<tr>
				<td><span class="label label-info">CTRL+I</span></td>
				<td>Quick snapshot</td>
			</tr>
			<tr>
				<td><span class="label label-info">CTRL+O</span></td>
				<td>打开/关闭 图形上的十字星瞄准线</td>
			</tr>
		</table>
	</div>

</div>

