<div class="modal-body" ng-controller="InspectCtrl" ng-init="init()">
	<div class="modal-header">
		<h2 class="modal-header-title">
			检查
		</h2>

		<ul class="gf-tabs">
			<li class="gf-tabs-item" ng-repeat="tab in ['请求', '响应', 'JS 错误']">
				<a class="gf-tabs-link" ng-click="editor.index = $index" ng-class="{active: editor.index === $index}">
					{{::tab}}
				</a>
			</li>
		</ul>

		<a class="modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>

	<div class="modal-content">

		<div ng-if="editor.index == 0">
			<h5 class="section-heading">Request details</h5>
			<table class="filter-table gf-form-group">
				<tr>
					<td>地址</td>
					<td>{{inspector.error.config.url}}</td>
				</tr>
				<tr>
					<td>方法</td>
					<td>{{inspector.error.config.method}}</td>
				</tr>
				<tr ng-repeat="(key, value) in inspector.error.config.headers">
					<td>
						{{key}}
					</td>
					<td>
						{{value}}
					</td>
				</tr>
			</table>

			<h5 class="section-heading">请求参数</h5>
			<table class="filter-table">
				<tr ng-repeat="param in request_parameters">
					<td>
						{{param.key}}
					</td>
					<td>
						{{param.value}}
					</td>
				</tr>
			</table>
		</div>

		<div ng-if="editor.index == 1">
			<h5 ng-show="message">{{message}}</h5>
 			<pre class="small">
{{response}}
			</pre>
		</div>

		<div ng-if="editor.index == 2">

			<label>Message:</label>
<pre>
{{信息}}
</pre>

			<label>堆栈跟踪:</label>
			<pre>
			{{stack_trace}}
		</pre>

		</div>

	</div>
</div>

