<navbar icon="fa fa-fw fa-cogs" title="高级选项" title-url="admin">
</navbar>

<div class="page-container">
	<div class="page-header">
		<h1>系统设置</h1>
	</div>

		<div class="grafana-info-box span8" style="margin: 20px 0 25px 0">
			这些设置需要在config/default.ini or custom.ini(ENV亦可)里修改，
			保存后需要重启grafana-server才能生效。
		</div>

		<table class="grafana-options-table">
			<tr ng-repeat-start="(secName, secValue) in settings">
				<td class="admin-settings-section">{{secName}}</td>
				<td></td>
			</tr>
			<tr ng-repeat="(keyName, keyValue) in secValue" ng-repeat-end>
				<td style="padding-left: 25px;">{{keyName}}</td>
				<td>{{keyValue}}</td>
			</tr>
		</table>
</div>



