<navbar icon="fa fa-fw fa-cogs" title="高级选项" title-url="admin">
</navbar>

<div class="page-container">
	<div class="page-header">
		<h1>统计</h1>
	</div>

	<table class="filter-table form-inline">
		<thead>
			<tr>
				<th>名称</th>
				<th>数值</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>仪表盘总数</td>
				<td>{{ctrl.stats.dashboard_count}}</td>
			</tr>
			<tr>
				<td>用户总数</td>
				<td>{{ctrl.stats.user_count}}</td>
			</tr>
			<tr>
				<td>部门总数</td>
				<td>{{ctrl.stats.org_count}}</td>
			</tr>
			<tr>
				<td>数据源总数</td>
				<td>{{ctrl.stats.data_source_count}}</td>
			</tr>
			<tr>
				<td>播放列表总数</td>
				<td>{{ctrl.stats.playlist_count}}</td>
			</tr>
			<tr>
				<td>快照总数</td>
				<td>{{ctrl.stats.db_snapshot_count}}</td>
			</tr>
			<tr>
				<td>标签总数</td>
				<td>{{ctrl.stats.db_tag_count}}</td>
			</tr>
			<tr>
				<td>收藏总数</td>
				<td>{{ctrl.stats.starred_db_count}}</td>
			</tr>
		</tbody>
	</table>
</div>
