<div class="gf-form-group">
	<div class="gf-form">
		<span class="gf-form-label">
			<i class="fa fa-clock-o"></i>
		</span>

		<span class="gf-form-label width-12">更改时间范围</span>
		<span class="gf-form-label width-6">距今</span>

		<input type="text" class="gf-form-input max-width-8" placeholder="1h"
			empty-to-null ng-model="ctrl.panel.timeFrom" valid-time-span
			ng-change="ctrl.refresh()" ng-model-onblur></input>
	</div>

	<div class="gf-form">
		<span class="gf-form-label">
			<i class="fa fa-clock-o"></i>
		</span>
		<span class="gf-form-label width-12">时间左移</span>
		<span class="gf-form-label width-6">时间量</span>
		<input type="text" class="gf-form-input max-width-8" placeholder="1h"
			empty-to-null ng-model="ctrl.panel.timeShift" valid-time-span
			ng-change="ctrl.refresh()" ng-model-onblur></input>
	</div>

	<div class="gf-form-inline">
		<div class="gf-form">
			<span class="gf-form-label">
				<i class="fa fa-clock-o"></i>
			</span>
		</div>
		<gf-form-switch class="gf-form max-width-30"
			label="隐藏改写的标识" label-class="width-12"
			checked="ctrl.panel.hideTimeOverride" switch-class="max-width-6" on-change="ctrl.render()">
		</gf-form-switch>
	</div>
</div>


