
<!-- <p> -->
<!-- 	Exporting will export a cleaned sharable dashboard that can be imported -->
<!-- 	into another Grafana instance. -->
<!-- </p> -->

<div class="share-modal-header">
	<div class="share-modal-big-icon">
		<i class="fa fa-cloud-upload"></i>
	</div>
	<div>
		<p class="share-modal-info-text">
			导出仪表盘到一个JSON文件. 为了方便他人导入和重用，此导将模板化这个仪表盘的数据源。
			你可以分享在 <a class="external-link" href="https://grafana.net">Grafana.net</a>
		</p>

		<div class="gf-form-button-row">
			<button type="button" class="btn gf-form-btn width-10 btn-success" ng-click="ctrl.save()">
				<i class="fa fa-save"></i> 保存到文件
			</button>
			<button type="button" class="btn gf-form-btn width-10 btn-secondary" ng-click="ctrl.saveJson()">
				<i class="fa fa-file-text-o"></i> 查看JSON
			</button>
			<a class="btn btn-link" ng-click="dismiss()">取消</a>
		</div>

	</div>
</div>
