<div class="modal-body">
	<div class="modal-header">
		<h2 class="modal-header-title">
			<i class="fa fa-key"></i>
			<span class="p-l-1">已创建的API key</span>
		</h2>

		<a class="modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>

	<div class="modal-content">

		<div class="gf-form-group">
			<div class="gf-form">
				<span class="gf-form-label">Key</span>
				<span class="gf-form-label">{{key}}</span>
			</div>
		</div>

		<div class="grafana-info-box" style="border: 0;">
			请保存下来这个key，Grafana并不会保存它。
			<br>
			<br>
			使用范例：
			<br>
			<br>
			<pre class="small">
curl -H "Authorization: Bearer your_key_above" http://your.grafana.com/api/dashboards/db/mydash
			</pre>
		</div>

	</div>

</div>

