<div class="editor-row">
	<h5 class="section-heading">
		追溯/详细信息链接<tip>在面板菜单中这些链接会出现在下拉菜单中 </tip></h5>
	</h5>

	<div ng-repeat="link in panel.links" style="margin-top: 20px;">
		<div class="gf-form-group">

			<div class="gf-form-inline">
				<div class="gf-form width-2">
					<i class="fa fa-fw fa-unlink"></i>
				</div>

				<div class="gf-form">
					<span class="gf-form-label width-7">类型</span>
					<div class="gf-form-select-wrapper width-14">
						<select class="gf-form-input" ng-model="link.type" ng-options="f for f in ['dashboard','absolute']"></select>
					</div>
				</div>

				<div class="gf-form">
					<span class="gf-form-label width-7" ng-show="link.type === 'dashboard'">仪表盘</span>
					<input ng-show="link.type === 'dashboard'" type="text" ng-model="link.dashboard" bs-typeahead="searchDashboards" class="gf-form-input max-width-14" ng-blur="dashboardChanged(link)">

					<span class="gf-form-label width-7" ng-show="link.type === 'absolute'">Url</span>
					<input ng-show="link.type === 'absolute'" type="text" ng-model="link.url" class="gf-form-input max-width-14">
				</div>

				<div class="gf-form">
					<button class="btn-inverse gf-form-btn btn-small" ng-click="deleteLink(link)"><i class="fa fa-trash"></i></button>
				</div>
			</div>

			<div class="gf-form-inline">
				<div class="gf-form width-2">
					<i class="fa fa-fw fa-unlink invisible"></i>
				</div>

				<div class="gf-form">
					<div class="gf-form-label width-7">标题</div>
					<input type="text" ng-model="link.title" class="gf-form-input">
				</div>

				<div class="gf-form">
					<span class="gf-form-label width-7">URL参数</span>
					<input type="text" ng-model="link.params" class="gf-form-input">
				</div>
			</div>

			<div class="gf-form-inline">
				<div class="gf-form width-2">
					<i class="fa fa-fw fa-unlink invisible"></i>
				</div>

				<div class="gf-form">
					<editor-checkbox text="保持当前时间轴" model="link.keepTime"></editor-checkbox>
					<editor-checkbox text="应用模板参数" model="link.includeVars"></editor-checkbox>
					<editor-checkbox text="新标签页中打开" model="link.targetBlank"></editor-checkbox>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="editor-row">
	<button class="btn btn-inverse" ng-click="addLink()"><i class="fa fa-plus"></i>添加链接</button>
</div>
